
Library/
Temp/
Logs/
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
NewAssembly.csproj
Build/
com.unity.multiplayer-hlapi.Editor.csproj
com.unity.multiplayer-hlapi.Runtime.csproj
com.unity.multiplayer-weaver.Editor.csproj
obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
obj/Debug/NewAssembly.csprojAssemblyReference.cache
Unity.Analytics.DataPrivacy.csproj
Unity.CollabProxy.Editor.csproj
Unity.TextMeshPro.csproj
Unity.TextMeshPro.Editor.csproj
UnityEditor.SpatialTracking.csproj
UnityEditor.XR.LegacyInputHelpers.csproj
UnityEngine.SpatialTracking.csproj
UnityEngine.XR.LegacyInputHelpers.csproj
Assets/AssetGraph/AssetBundles/Cache/TemporalSettingFiles/AssetReferenceDB.asset
Recordings/
UserSettings/

# unity ignore file
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.meta
*.tmp
.suo
.DS_Store
.DS_Store?
 
# need include the meta of file
!*.*.meta
Assets/PlayMaker/Editor/Resources/EditorStartupPrefs.asset

Assets/Editor/SpineSettings.asset
